.landing-page-section{
    padding: 0;
    margin: 0 !important;
    background-color:#FFEFD5 !important;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif !important;
  }
  .login-btn{
    display:inline;
    align-items:center;
    justify-content:center;
    color:white;
    border:none;
    background-color:black;
    font-size:15px;
    width:80px;
    height:35px;
    border-radius:10px 10px 10px 10px;
    font-weight:bold;
    cursor:pointer;
    letter-spacing: 0.3px;
    padding:0;
    top:0;
    right:0;
    position:absolute;
    margin-right:105px;
    margin-top:10px;
    cursor:pointer;
  }
  .signup-btn{
    display:inline;
    align-items:center;
    justify-content:center;
    color:white;
    border:none;
    background-color:black;
    font-size:15px;
    width:80px;
    height:35px;
    border-radius:10px 10px 10px 10px;
    font-weight:bold;
    cursor:pointer;
    letter-spacing: 0.3px;
    padding:0;
    top:0;
    right:0;
    position:absolute;
    margin-top:10px;
    cursor:pointer;
    margin-right:10px;
  }
  body{
    min-height:700px;
    background-color:#FFEFD5;
  }
  
  h1 {
      background: url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Pietro_Perugino_cat48g.jpg);
      background-size: 40%;
      background-position: 50% 50%;
      -webkit-background-clip: text;
      color: hsla(0, 0%, 0%, 0.08);
      animation: zoomout 10s ease 500ms forwards;
      font-size: 15vw !important;
      -webkit-text-stroke: 1px black;
  }
  
  @keyframes zoomout {
      from {
          background-size: 50%;
      }
  
      to {
          background-size: 20%;
      }
  }
  h2 {
    color: hsl(0, 0%, 28%);
    font-size: 50px;
    font-weight: bold;
    font-family: "Red Hat Display", sans-serif !important;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  .header-tagline{
   text-align:center;
   margin-top:-55px;
  }
  h2 span {
    transition: 0.5s ease-out;
  }
  h2:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h2:hover span:nth-child(1):after {
    content: "";
  }
  h2:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h2:hover span {
    color: black;
    text-shadow: 0 0 10px rgb(36, 21, 21), 0 0 20px rgb(36, 21, 21), 0 0 40px rgb(36, 21, 21);
  }

  .landing-page-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    border:none;
    background-color:black;
    font-size:17px;
    width:250px;
    height:47px;
    border-radius:10px 10px 10px 10px;
    font-weight:bold;
    cursor:pointer;
    letter-spacing: 0.3px;
  }
